In [86]:
#8.17 - 인덱스 클라스 관리

#인덱스클라스

import pandas as pd

idx1 = pd.Index([1,2,3,4])
type(idx1) #순서번호를 관리하는 인덱스 객체 -> 원래는 시리즈객체를 만들때 직접주거나 자동으로 생성되는 방식으로 인덱스 객체에 소속됨
#기본은 정수

idx2 = pd.Index(range(1,4))
idx2

# idx1 와 idx2 의 타입은 다르다!!
idx1.difference(idx2) #둘의 차이를 알아보자-> 근데 교집합(공통점)을 출력한다...흠... 이상한 함수다
#inx2의 rangeindex안에 들어가면 int64형이기 떄문에 교집합은 int64인 셈이다

idx_s = pd.Index(['a','b','c'])
idx_s.values

idx_f = pd.Index([2,3,1,5,4],dtype='float')
idx_f.values

#인덱스 객체는 인덱싱, 슬라이싱 모두가능
idx1[0]
idx_s[:]
idx1[[0]] #팬시검색
idx1[idx1 < 3]

idx1+3 #가능 3씩증가

try:
    idx1[0] = 100
except Exception as e:
    print(e)
#안된다 - 인덱스를 이런 방식을 바꿔버릴 수는 없음

Int64Index([], dtype='int64')

In [60]:
# 인덱스 간의 연산

import pandas as pd
import numpy as np

np.arange(4).reshape(2,2)

s1 = pd.Series(index=list('aaab'), data = np.arange(4))
s1

s2 = pd.Series(index=list('baaa'), data = np.arange(4))
s2

s1+s2 #인덱스가 다르면 안됨 - 행렬연산이 되서 이상한 결과가 나와버린다 즉 정렬을 위해서는 맞춰줘야함

a    1
a    2
a    3
a    2
a    3
a    4
a    3
a    4
a    5
b    3
dtype: int32

In [82]:
#인덱스 따로 만들 수 있음

import pandas as pd
import numpy as np

idx_d = pd.Index(pd.date_range('20130101',periods=3))
idx_d.values

i = pd.DatetimeIndex(['2014-08-04', '2014-09-04', '2014-10-04', '2014-11-04']) #그냥문자열 아니고 Date타입임
data = pd.Series([0,1,2,3], index=i)
data
#인덱스 따로 만들 수 있음

i.shape
i.dtype

TimedeltaIndex(['-1 days +23:00:00',          '00:00:00',          '01:00:00',
                         '02:00:00',          '03:00:00',          '04:00:00',
                         '05:00:00',          '06:00:00',          '07:00:00',
                         '08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [96]:
#타임객체상세

import pandas as pd
import numpy as np

#데이객체
dr1 = pd.date_range('2018-07-03','2018-07-10')
dr1 #사이값이 싹 나오네

dr2 = pd.date_range('2018-07-03', periods=8)
dr2

dr3 = pd.date_range('2018-07-03',periods=24, freq='H') #H는 시간단위까지?
dr3
dr3.to_period('D')

#타임객체
tm = pd.timedelta_range(0, periods=10, freq='H')
tm
tm - tm[1] #이런연산도 가능

TimedeltaIndex(['-1 days +23:00:00',          '00:00:00',          '01:00:00',
                         '02:00:00',          '03:00:00',          '04:00:00',
                         '05:00:00',          '06:00:00',          '07:00:00',
                         '08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [109]:
#예제

import pandas as pd
import numpy as np

data = pd.read_csv('D:/pandas/실습자료/실습자료/data/hanriver_bridge.csv', index_col='Date', parse_dates=True, encoding='cp949')
                                                                                             #파싱을 데이트 타입으로 가져오겠다
data.head()
data.index
data.columns = ['좌측', '우측']
data.columns
data['합산'] = data.eval('좌측 + 우측')
data #원본에적용

#Nan처리
data.isnull().sum()
data.shape
data_dp = data.dropna()
data_dp.isnull().sum()
data_dp.shape

#Date타입으로 형식 변경
daily = data.resample('D').sum() #Day로 바꾸면서 24개의 행을 하나로 합침 - 행값들도 자동으로 합쳐진다
daily

                좌측      우측      합산
Date
2012-10-03  1760.0  1761.0  3521.0
2012-10-04  1708.0  1767.0  3475.0
2012-10-05  1558.0  1590.0  3148.0
2012-10-06  1080.0   926.0  2006.0
2012-10-07  1191.0   951.0  2142.0
2012-10-08  1829.0  1708.0  3537.0
2012-10-09  1759.0  1742.0  3501.0
2012-10-10  1648.0  1587.0  3235.0
2012-10-11  1579.0  1468.0  3047.0
2012-10-12  1022.0   989.0  2011.0
2012-10-13   415.0   351.0   766.0
2012-10-14   427.0   271.0   698.0
2012-10-15  1200.0  1073.0  2273.0
2012-10-16  1559.0  1477.0  3036.0
2012-10-17  1647.0  1596.0  3243.0
2012-10-18  1449.0  1474.0  2923.0
2012-10-19   965.0  1012.0  1977.0
2012-10-20   586.0   482.0  1068.0
2012-10-21   540.0   449.0   989.0
2012-10-22  1088.0  1041.0  2129.0
2012-10-23  1263.0  1237.0  2500.0
2012-10-24  1250.0  1179.0  2429.0
2012-10-25  1361.0  1352.0  2713.0
2012-10-26  1039.0  1034.0  2073.0
2012-10-27   289.0   242.0   531.0
2012-10-28   611.0   451.0  1062.0
2012-10-29  1146.0  1071.0  2217.0
2012-10-30   912.0   823.0  1735.0
2012-10-31   883.0   827.0  1710.0
2012-11-01  1061.0  1030.0  2091.0
...            ...     ...     ...
2018-05-02  2157.0  3175.0  5332.0
2018-05-03  2011.0  2967.0  4978.0
2018-05-04  1596.0  2492.0  4088.0
2018-05-05  1274.0  1221.0  2495.0
2018-05-06  1210.0  1175.0  2385.0
2018-05-07  1863.0  2953.0  4816.0
2018-05-08  2089.0  3054.0  5143.0
2018-05-09  1948.0  2885.0  4833.0
2018-05-10  1535.0  2238.0  3773.0
2018-05-11  1751.0  2652.0  4403.0
2018-05-12  1458.0  1474.0  2932.0
2018-05-13  1292.0  1301.0  2593.0
2018-05-14  2184.0  3259.0  5443.0
2018-05-15  2194.0  3285.0  5479.0
2018-05-16  2138.0  3102.0  5240.0
2018-05-17  2008.0  2842.0  4850.0
2018-05-18  2307.0  2931.0  5238.0
2018-05-19  1211.0  1238.0  2449.0
2018-05-20   918.0   907.0  1825.0
2018-05-21  2018.0  3087.0  5105.0
2018-05-22  2312.0  3475.0  5787.0
2018-05-23  2264.0  3368.0  5632.0
2018-05-24  1990.0  2855.0  4845.0
2018-05-25  1558.0  2487.0  4045.0
2018-05-26  1036.0  1142.0  2178.0
2018-05-27  1240.0  1386.0  2626.0
2018-05-28  1121.0  1303.0  2424.0
2018-05-29  1731.0  2717.0  4448.0
2018-05-30  2024.0  3053.0  5077.0
2018-05-31  1842.0  2738.0  4580.0

[2067 rows x 3 columns]

In [81]:
#범주형타입 인덱스

import pandas as pd
import numpy as np

a = pd.Series([1,2,3,4],index=(list('abcd')))
a['a']
a[0]
a[3]
#label이 문자열이면 인덱싱 잘 됨

b = pd.Series([1,2,3,4],index=[1,2,3,4]) #인덱스 이런식으로 잡지말자 절대!!!! 이럴꺼면 차라리 비워둬서 0,1,2,3 으로
b[3]
b[4] #여기서부터 이상해... 명시적인지 암시적인지 구분을 못하는가 봄
b[5] = 5 #추가는 된다!!
b

#범주형
inx_c = pd.CategoricalIndex(list('abcd'))
inx_c
inx_i = pd.CategoricalIndex([10,20,30,40])
inx_i

s = pd.Series([1,2,3,4], index=inx_c)
s.index
s['d']
# s['e'] 될리가 없지?

ss = pd.Series([1,2,3,4], index=inx_i)
ss.index
ss[40]
# ss[50] 안된다! 범주형이잖아 

s.index = s.index.add_categories('e')
s.index
s['e'] = 5 #된다
s

ss.index = ss.index.add_categories(50)
ss.index
#ss[50] = 5 #읭?!?! .. 다음 예제로 극복
ss

10    1
20    2
30    3
40    4
dtype: int64

In [42]:
#범주형 심화 - 리스트로 타입 바꿔서 인덱스추가하는 방식

import pandas as pd

inx_i = pd.CategoricalIndex([10,20,30,40])
inx_i

s = pd.Series([1,2,3,4], index=inx_i)

stl = s.index.tolist()
stl

s.index = stl
s.index
s[50] = 5
s

#원한다면 다시 Categories로 바꾸면됨 astype!

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [204]:
#멀티인덱스 (1) - 두개의 인덱스를 행으로 가진다
#즉 인덱싱을 통해 데이터를 다차원스럽게 활용 (DF에 적용하면 3,4차원, 시리즈에 적용하면 2,3차원이 되겠지)

import pandas as pd
import numpy as np

#인덱스 먼저 만들자 - 멀티아님!
ind = [('서울',2017),('경기도',2017)]
ind

#ind를 인덱스로 객체를 만들자 (값연결)
si = pd.Series(np.random.randint(1,10,2), index=ind) #난수생성매소드 1에서 10사이의 정수 두개
si

#si['서울'] #인덱스가 두개기 때문에 하나로 접근이 안됨
si['서울', 2017]
si[('서울', 2017)]
#둘다 똑같이 나온다. 튜플 괄호를 생략할 수 있음 - 파이썬 기본문법 (패킹은 튜플로)

#멀티! 인덱스를 만들자
index = pd.MultiIndex.from_tuples(ind)
index #레벨은 자동으로 우선순위에 따라 정렬된다, 코드의 의미는 정렬전의 위치를 말해준다고 보면됨

#index를 인덱스로 객체를 만들자 (값연결)
s = pd.Series(np.random.randint(1,10,2), index=index) #이번에는 멀티인덱스 타입의 객체를 넣는다
s['서울'] #된다 - 훨씬효율적

          0
서울  2017  9
경기도 2017  5

In [76]:
#8.18 - 멀티인덱스 (1)

#만드는 방식 더더

import pandas as pd
import numpy as np

#만드는방식 2
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

#값연결
s = pd.Series(np.random.randn(8), index=arrays)
s
s.index

#만드는방식 3
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
arrays2 = pd.MultiIndex.from_product(iterables, names=['first', 'second'])

#멀티인덱스는 안바뀐다 - 프로즌 리스트 타입으로 관리되기때문
arrays2
arrays2.levels
arrays2.codes
#lavels와 codes로 관리 (이전 판다스 버전에서는 codes대신 labels 였다)
arrays2.values
arrays2.names

#값연결
s2 = pd.Series(np.random.randn(8), index=arrays2)
s2

first  second
bar    one       0.492625
       two       0.081122
baz    one       0.484857
       two      -2.961918
foo    one       0.941514
       two      -1.144168
qux    one      -1.614946
       two       1.018578
dtype: float64

In [217]:
#예제

import pandas as pd
import numpy as np

index = [('서울',2008),('서울',2010),('부산',2008),('부산',2010), ('인천',2008),('인천',2010)]
mul_index = pd.MultiIndex.from_tuples(index)

mul_index
mul_index.values
mul_index.value_counts()

mul_index.levels
mul_index.codes

#값연결
populations = [ 30000,37000, 18970, 19370, 20850, 25140]
pop = pd.Series(populations, index=mul_index)
pop #type(pop)은 시리즈

pop['서울']
pop['서울',2008]
pop[:, 2010]

#이거는 안된다!! 정렬이 안되있기 때문
try :
    pop["서울" : "인천"]
except Exception as e :
    print(e)

#소팅하고 나면 된다
pop = pop.sort_index() #default는 axis=0 
pop["서울" : "인천"]

pop.index.names = ['시','년도']
pop

서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

In [227]:
#멀티인덱스 (2) 행열 모두 (데이터프레임에) 적용! *칼럼의 이름도 인덱스 클래스로 관리가 된다!!

import pandas as pd
import numpy as np

#멀티인덱스 두개 만들기 - 행열 각각에 적용
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['년도','과제점수'])
r_inx

c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])
c_inx

data = np.round(np.abs(np.random.randn(4,6)),1)
data

#값연결
study_data = pd.DataFrame(data, index=r_inx, columns=c_inx)
study_data

study_data.index
study_data.columns

study_data.index.get_level_values(0) #인덱스의첫번째기준나열
study_data.index[0] #인덱스의가장첫번째속성
study_data.columns[1] #칼럼의두번째속성 
study_data.index.names[1] #name속성의두번째
study_data.values #값들
study_data['지원'] #지원이의 데에터

study_data['지원','컴공'] #지원이의 컴공데이터
study_data.loc[:, ('지원','컴공')] #행으로 출력 - 시리즈로 나온다

#칼럼이소팅안돼있지
try :
    study_data.loc[:2018, '철수':'영희']
except Exception as e :
    print(e)
    
#이제돼지
study_data = study_data.sort_index(axis=1) #axis=1 !
study_data.sort_index(axis=1).loc[:2018, '영희':'지원']

#그외 뽑아내는 기능 중요!!
study_data.loc[pd.IndexSlice[:,1], pd.IndexSlice[:, '컴공']] #컴공만
study_data.index.levels[0].dtype
study_data.loc[2017,1]
study_data.xs((2017,1)) #loc[2017,1]와 동일, 함수버전
study_data.xs(2017)
study_data.columns.levels[0]
study_data.columns.levels[1]
study_data.xs(('지원','컴공'), axis=1)

('철수', '컴공')

In [36]:
#8.18 - 5장 데이터 정렬 및 재구성 (일부만 떼와서 새로운 형태나 구조로 DF를 만들기)

#시리즈 정렬

import pandas as pd
import numpy as np

#데이터만들면서시리즈연결
obj1 = pd.Series([40,10,20,30], index=list('가나다라')) # 가 40 나 10 다 20 라 30
obj2.sort_index() #인덱스기준 소팅 - 기본이 저장X, 기본이 오름차순
obj1.sort_values() #밸류기준 소팅 - 기본이 저장X,기본이 오름차순
obj1.sort_values(ascending=False) #내림차순
#근데 값을 기준으로 소팅해버리니까 인덱스들이 이상해짐

#포지션!!
obj1.argsort() #포지션레이블을 적어준다 # 가 1 나 2 다 3 라 0
# 무슨말?? 오름차순을 기본으로 나의 포지션 (1)이 제일먼저오고 다의 포지션 (2)가 그 다음 가의 포지션 (0)이 마지막임
# 즉 순위정보를 포지션으로 나타내준다고 생각하면 된다
obj1.idxmin() #최소값의 인덱스 출력
obj1.idxmax() #최대값의 인덱스 출력

         d    a    b    c
one    4.0  5.0  6.0  7.0
three  0.0  NaN  2.0  3.0

In [55]:
#데이터프레임 정렬

import pandas as pd
import numpy as np

#데이터만들기
data = np.arange(8).reshape(2,4)
data
type(data)

#데이터프레임에연결
frame = pd.DataFrame(data, index=['three','one'],columns=list('dabc'))
frame.sort_values(by='a') #DF니까 기준 열, 즉 by라는 요소가 추가돼야함!! a열을 기준으로 오름차순으로 정렬
frame.sort_values(by='a', ascending=False) #a열을 기준으로 내림차순으로 정렬해볼까

#데이터만들기2
data1 = data.astype(np.float)
data1[0,1] = np.nan
data1

#데이터프레임연결2
frame1 = pd.DataFrame(data1, index=['three','one'],columns=list('dabc'))
frame1.sort_values('a') #by는 생략가능
frame1.sort_values(by='a', ascending=False) #NaN은 오름/내림 차순 상관없이 언제나 마지막으로
frame1.sort_values(by='a', na_position='first') #NaN의 위치를 이렇게 설정할 수는 있다 default가 'last'인 셈

#데이터만들면서데이터프레임연결
frame2 = pd.DataFrame([{'가':3, '나':15, '다':3},
                      {'가':3, '나':10, '다':5},
                      {'가':1, '나':20, '다':5},
                      {'가':2, '나':15, '다':7},
                      {'가':2, '나':100, '다':9}])
#다수개의 컬럼을 기준으로 정렬할 수도 있다 그때는 리스트로 묶어서준다
frame2.sort_values(['가','나'], ascending=False) #기준 순서는 가 먼저 ->나 다음
frame2.sort_values(['나','가'], ascending=False) #기준 순서는 나 먼저 ->가 다음

#데이터만들면서데이터프레임연결2
frame3 = pd.DataFrame([{'가':3, '나':15, '다':3},
                      {'가':3, '다':5, '나':10},
                      {'가':1, '나':20, '다':5},
                      {'나':15, '다':7, '가':2},
                      {'가':2, '나':100, '다':9}], columns=list('다가나')) #열순서 지정도가능
frame3.sort_index() #axis=0 가 디폴트 - 행인덱스정렬
frame3.sort_index(axis=1) #열인덱스정렬 (가나다로)
frame3.sort_index().sort_index(axis=1) #행인덱스정렬 후 열인덱스정렬

   가    나  다
0  3   15  3
1  3   10  5
2  1   20  5
3  2   15  7
4  2  100  9

In [118]:
#등수기준 정렬, 재구성

import pandas as pd
import numpy as np

#데이터만들기
data = {'과제건수': [1, 5, 2, 3, 4],
        '이름': ['길동', '옥주', '현웅', '주몽', '지원'], 
        '학번': [2012, 2012, 2013, 2014, 2014], 
        '점수': [25, 94, 57, 62, 70]}

#연결
frame = pd.DataFrame(data)
frame['순위'] = frame['점수'].rank(ascending=False) #순위로 리턴해준다
reframe = frame.sort_values(by='순위') #인덱스가 이상해지지? 순위를 인덱스로 해버릴까

reframe.index = reframe['순위'].astype(int) #reframe.index = [1,2,3,4,5]
reframe

#데이터만들기2
data1 = {'가' : pd.Series([1.], index=['a']),
        '나' : pd.Series([1., 2.], index=['a', 'b']),
        '다' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

#연결2
df = pd.DataFrame(data1)
df

#처리하기
df['나'] = pd.Series([3,4,5,6],index=list('abcd'),dtype='float') #덮어쓰기
df1 = df[['나', '다']] #잘라내기
df1.at['a','나'] = 100 #값치환
pd.set_option('chained', None) #에러처리
df1.at[['b','c'],['다']] = 99 #값치환 - 주피터노트에러
df1.다 = df1.다.shift(-1) #값이동 밑에서위로 -> Nan생긴다
df1.다 = df1.다.shift(1) #위에서밑으로 -> Nan도 같이 이동한다
df1

       나     다
a  100.0   NaN
b    4.0  99.0
c    5.0  99.0
d    6.0   4.0

In [130]:
#피봇을 통한 재구조화

import pandas as pd
import numpy as np

df = pd.DataFrame({'foo': ['one','one','one','two','two','two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6]})
df.pivot(index='foo', columns='bar', values='baz') #중복나는 것들끼리 짝을 맞춘다

df1 = pd.DataFrame({'foo': ['one','one','one','two','two','two'],
                           'bar': ['A', 'B', 'A', 'A', 'B', 'C'],
                           'baz': [1, 2, 3, 4, 5, 6]})
try : 
    df1.pivot('foo','bar','baz') #안 된다 - bar에 ABCABC 가 아니라서 이상해짐
except Exception as e :
    print(e)
    
df1 = df1.drop_duplicates(['foo','bar']) #중복되는것 one-A 없앤다
df1.pivot('foo','bar','baz') #이제 된다! - 누락값표시

Index contains duplicate entries, cannot reshape

bar    A    B    C
foo
one  1.0  2.0  NaN
two  4.0  5.0  6.0

In [156]:
#예제1

import pandas as pd
import numpy as np
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()
titanic.count()
titanic['survived'].count()
titanic['survived'].sum()

#그룹화처리
titanic_s = titanic.groupby('survived').mean() #수치값인 부분을 전부 평균으로 처리
titanic_s #생존자가 0 또는 1 이므로 두개의 행이 나온다

titanic_s.pivot(index='pclass', columns='age', values='fare') #재구조화

titanic_ = titanic.pivot_table(index='sex', columns='class', values='survived', aggfunc='sum') #aggfunc을 추가할 수 있음 default는 'mean'
titanic_
titanic_.sum().sum()

342

In [7]:
#스택, 언스택을 통한 "멀티인덱스"로 재구조화 : 마지막 행 -> 열로 열 -> 행 으로 전치한다고 생각하면됨

import pandas as pd
import numpy as np

weight = pd.read_csv('D:/pandas/실습자료/실습자료/data/weight_loss.csv', encoding = 'cp949')
weight

#weight.pivot(index='이름', columns='월', values='몸무게') #월에 겹치는게 있어서 안된다
#첫주만 뽑기
week1 =weight.drop_duplicates(['이름','월'])
week1
week1.pivot(index='이름', columns='월', values='몸무게')
week1.pivot_table(index='이름', columns='월', values='몸무게') #하나만 있으면 pivot과 동일결과

#마지막주 뽑기
week4 = weight.query('주 == "4주"') #판다스의 꽃 - 쿼리문
week4
week4.pivot(index='이름', columns='월', values='몸무게') 
week4.pivot_table(index='이름', columns='월', values='몸무게') #하나만 있으면 pivot과 동일결과

#이걸 가지고 이제 stack unstack 해볼거다 #딱히 쓸모 있을까...

#이름,월을 멀티인덱스 행으로 잡자
week5 = week4.set_index(['이름','월'])

#STACK (열->행으로)
stack = week5.stack()
stack #type은 Series!! -> 여기서 더이상스택불가

stack.index.get_level_values(0)
stack.index.get_level_values(1)
stack.index.get_level_values(2) #스택을 쌓았기 때문에 주,몸무게가 새로운 level로 편성되었다

stack.to_frame() #DataFrame으로 바꿔주려면 이렇게해야한다
stack.index.levels

#UNSTACK to be back
back = stack.unstack()
back # week5 == back 동일하다!!

#UNSTACK (행->열으로)
unstack = week5.unstack()
unstack #type은 Dataframe!!
unstack = unstack.unstack()
unstack #전부 행이되면서 Series -> 여기서 더이상스택불가

unstack.to_frame() #이상해졌음

AttributeError: 'Series' object has no attribute 'stack'

In [308]:
# 셀프 예제

import pandas as pd
import numpy as np

weight = pd.read_csv('D:/pandas/실습자료/실습자료/data/weight_loss.csv', encoding = 'cp949')

#테이블로 평균내기
week = weight.pivot_table(index='이름', columns='월', values='몸무게', aggfunc='mean')
week

#그 다른 방식은???
sortedweight = weight.sort_values(by=['이름','월','주'])
sortedweight.reset_index(drop='False', inplace=True)
sortedweight

sortedweight = sortedweight.set_index(['이름','월','주'])
sortedweight

#뭐 이런식으로 됨..
#주별로 평균내는거는 모르겠다@@ 부분연산??

          몸무게
이름 월  주
지완 1월 1주   70
      2주   69
      3주   69
      4주   69
   2월 1주   69
      2주   68
      3주   67
      4주   66
   3월 1주   66
      2주   66
      3주   65
      4주   64
   4월 1주   63
      2주   63
      3주   63
      4주   62
찬준 1월 1주   60
      2주   59
      3주   59
      4주   59
   2월 1주   59
      2주   58
      3주   57
      4주   56
   3월 1주   56
      2주   56
      3주   55
      4주   54
   4월 1주   53
      2주   53
      3주   53
      4주   52

In [26]:
#8.20 - 데이터재구조화

#스택과 언스택 활용

import pandas as pd
import numpy as np

weight = pd.read_csv('D:/pandas/실습자료/실습자료/data/weight_loss.csv', encoding = 'cp949')
weight

#마지막주 뽑기
week4 = weight.query('주 == "4주"') #판다스의 꽃 - 쿼리문

week4_s = week4['몸무게']
week4_s
week4_s.index = week5['몸무게'].index
week4_s

#행두개 열X -> unstack 하면 행한개 열한개
week4_s.unstack() #type은 당연히 DF

#언스택 시에 레벨을 부여하면 언스택방향을 지정할 수 있다
week4_s.unstack(level=0) #행열바뀌는결과
week4_s.unstack(level=1) #디폴트인셈

월   1월  2월  3월  4월
이름
지완  69  66  64  62
찬준  59  56  54  52

In [53]:
#데이터연결

import pandas as pd
import numpy as np

columns = np.array(['봄','여름','가을','겨울'])
data = np.array([['A0','A1','A2','A3'],
                 ['B0','B1','B2','B3'],
                 ['C0','C1','C2','C3'],
                 ['D0','D1','D2','D3']])
data1 = np.array([['A4','A5','A6','A7'], #봄
                 ['B4','B5','B6','B7'], #여름
                 ['C4','C5','C6','C7'], #가을
                 ['D4','D5','D6','D7']]) #겨울

df1 = pd.DataFrame(data.T,columns=columns)
df1
df2 = pd.DataFrame(data1.T, columns=columns) #전치해서 넣어야 원래대로 들어간다
df2

#행으로접합
df_con = pd.concat([df1,df2])
df_con #접합! 인덱스가 이상하지
index_r = list(range(0,8))
df_con.index = index_r #직접넣어주기
df_con

#이걸 자동으로할려면
df_con = pd.concat([df1,df2], ignore_index=True) #default는 false겠지
df_con

#열으로접함
df_h = pd.concat([df1,df2], axis=1, ignore_index=True) #default는 false겠지
df_h

#데이터 단순추가
df11 = df1.copy() #copy가 없어도 되지만 기왕이면 함수쓰는거 체화해라
df11.loc[4] = ['A4','B4','C4','D4'] #4번째 행 추가!
df11

#메소드로추가
df111 = df11.append({'봄':'A5','여름':'B5','가을':'C5','겨울':'D5'}, ignore_index=True) #ignore_index 안쓰면 에러난다
df111

#concat대신 append 메소드를 쓸 수도 있다!
df11.append(df2, ignore_index=True)

    봄  여름  가을  겨울
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A4  B4  C4  D4
6  A5  B5  C5  D5
7  A6  B6  C6  D6
8  A7  B7  C7  D7

In [83]:
#데이터 조인

import pandas as pd
import numpy as np

columns3 = np.array(['봄','여름','춘분','추분'])
data3 = np.array([['A8','A9','A10','A11'],
                 ['B8','B9','B10','B11'],
                 ['E8','E9','E10','E11'],
                 ['F8','F9','F10','F11']])

df3 = pd.DataFrame(data3.T,columns=columns3)
df3

df4 = pd.concat([df1,df3], join='inner',ignore_index=True) #공통 레이블의 칼럼으로 쪼인
df5 = pd.concat([df1,df3], axis=1, join='inner') #공통 레이블의 인덱스로 쪼인
df6 = pd.concat([df1,df3], axis=1, join='outer') #단순히 접합 - default가 outer겠지 여기선 둘다 동일

pd.concat([df1,df3], axis=1, keys=['사계절'], join='inner') #열 이름 주기 -> 첫번째 데이터프레임만보이네
pd.concat([df1,df3], axis=1, keys=['사계절','춘추분'], join='inner') #열 이름 두개 주기 -> 이제 접합 둘다보인다

#아예 join 메서드도 있다 -> axis = 1 이 default인 듯? 그러니 둘다 동일, 중복값을 lx는 왼쪽을 rx는 오른쪽을 처리
df1.join(df3, how='inner', lsuffix='_lx', rsuffix='_rx') #inner로 하면 ? 
df1.join(df3, how='outer', lsuffix='_lx', rsuffix='_rx') #outer로 하면 ?

#조인할 키를 주어 같은 값이 없을 때 inner은 열의 이름만, outer은 전체가 나오는데 deprecated 된 듯. concat 쓰면 되지 굳이 쓸필요없다
#df1.join(df3, on='봄', how='inner', lsuffix='_lx', rsuffix='_rx')
#df1.join(df3, on='봄', how='outer', lsuffix='_lx', rsuffix='_rx')

  봄_lx 여름_lx  가을  겨울 봄_rx 여름_rx   춘분   추분
0   A0    B0  C0  D0   A8    B8   E8   F8
1   A1    B1  C1  D1   A9    B9   E9   F9
2   A2    B2  C2  D2  A10   B10  E10  F10
3   A3    B3  C3  D3  A11   B11  E11  F11

In [95]:
#여러 열을 하나로 통합

import pandas as pd

movie = pd.read_csv('D:/pandas/실습자료/실습자료/data/korea_movie_list.csv',encoding='cp949')
movie.columns

df_ml = pd.melt(movie,id_vars=['title'], value_vars=['title_Eng']) #고정시킬 열을 id에, 변수로 삼을 것을 value에 할당
df_ml #title_Eng라는 변수명이 variable이라는 열에 공통적으로 들어가고, 그 행을 요소들은 변수로서 value열에 할당된다
df_ml = pd.melt(movie,id_vars=['title'], value_vars=['title_Eng'], var_name='영어이름', value_name='영어명')
df_ml #variable과 value의 이름을 부여한다
df_ml.isnull().sum() #누락값확인

df_ml = pd.melt(movie,id_vars=['title', 'title_Eng'], value_vars=['open_date'], var_name='변수이름', value_name='영어명과 개봉일자') #date를 변수

#열 통합!
df_ml = pd.melt(movie,id_vars=['title', 'title_Eng'], value_vars=['produce_year','open_date'], var_name='변수이름', value_name='영어명과 개봉일자')
df_ml # 이게 핵심이다!!! value값을 두개로 줬더니 1~2826 까지는 변수이름 produce_year에 묶인 첫번째 밸류로 이후는 open_date에 묶인 두번째 밸류로

,title,title_Eng,변수이름,영어명과 개봉일자
0,할로우 차일드,The Hollow Child,produce_year,2017
1,죽음의 리무진,Glass Coffin,produce_year,2016
2,극장판 도라에몽: 진구의 보물섬,NaN,produce_year,2018
3,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer,produce_year,2018
4,살아남은 아이,Last Child,produce_year,2017
5,인공지능 섹스돌,NaN,produce_year,2018
6,엄마의 유혹,NaN,produce_year,2018
7,섹스-이웃집 여자-감독판,NaN,produce_year,2018
8,부드러운 여주인:단단한 물건을 원해,Okamisan 01,produce_year,2017
9,동창회:그녀와 하던 날,Rape Gurui,produce_year,2016
10,금지된 섹스,NaN,produce_year,2018
11,맘마미아!2,MAMMA MIA! HERE WE GO AGAIN,produce_year,2018
12,산책하는 침략자,Before We Vanish,produce_year,2017
13,호스틸,Hostile,produce_year,2017
14,더 스퀘어,The Square,produce_year,2017
15,나를 차버린 스파이,The Spy Who Dumped Me,produce_year,2017
16,주피터스 문,Jupiter's Moon,produce_year,2017
17,휘트니,Whitney,produce_year,2018
18,원초적 비디오 테이프,Amateur,produce_year,2016
19,목격자,The Witness,produce_year,2017
20,공작,The Spy Gone North,produce_year,2017
21,너의 결혼식,On Your Wedding Day,produce_year,2017
22,몬스터 헌트2: 요괴사냥단,Monster Hunt 2,produce_year,2017
23,몬스터 호텔 3,Hotel Transylvania 3: A Monster Vacation,produce_year,2018
24,더 시크릿 하우스,Marrowbone,produce_year,2017
25,훔쳐보는 쉐어 하우스,Girls Share A Flat 4,produce_year,2017
26,해외유학녀의 마사지,Populer beauty massage into a study abroad fru...,produce_year,2017
27,폭주미망인-다빌려드립니다,Widow boarding house? I also lend a valley,produce_year,2017
28,정사 : 친구의 엄마 2 무삭제,NaN,produce_year,2018
29,인형같은 애인클럽,Makeover dolls Fingertips that love limbs,produce_year,2017
...,...,...,...,...
5624,20대 같은 40대 미시녀,The reason I remove the wedding ring,open_date,20170110
5625,여형사의 은밀한 수사,Marubou no Onna,open_date,20170111
5626,어쌔신 크리드,Assassin's Creed,open_date,20170111
5627,세상의 모든 엄마와 딸들,Mothers and Daughters,open_date,20170111
5628,반지의 제왕 : 반지원정대 (확장판),The Lord Of The Rings : The Fellowship Of The ...,open_date,20170111
5629,너브,Nerve,open_date,20170111
5630,사랑하기 때문에,BECAUSE I LOVE YOU,open_date,20170104
5631,옆집 여자: 처음엔 거부 나증엔 신음,Namaikinadantituma,open_date,20170106
5632,밀애: 시아버지,Mesunonioi,open_date,20170106
5633,리벤지포르노 페인트 잇 블랙,Revenge Porno PAINT IT BLACK,open_date,20170106
5634,내 아내의 불륜,Soputotuma,open_date,20170106
5635,추천 극상 오일마사지,"Suddenly, I meet with my son. We rut. Satsuki ...",open_date,20170105
5636,일본 온천 여행기,The dairy of lonely woman Beautifully bloom in...,open_date,20170105
5637,엘리미네이터,Eliminators,open_date,20170105
5638,소림사 무림 탐정-취의전장,Murger at the Lending House,open_date,20170105
5639,선녀 강림 - 평화를 위해,Sexy girl party 4,open_date,20170105
5640,패신저스,PASSENGERS,open_date,20170104
5641,야쿠자의 여자: 은밀한 유혹,Japanese mafia Women 7,open_date,20170104
5642,쇼다운 인 마닐라,Showdown in Manila,open_date,20170104
5643,사다코 대 카야코,Sadako vs Kayako,open_date,20170104
5644,비밀객잔의 결투,The Expert of Gangster Inn,open_date,20170104
5645,더 마인즈 아이,The Mind's Eye,open_date,20170104
5646,굶주린 여신: 양기흡수,Eromegami,open_date,20170104
5647,하드코어 미망인,Sexy girl party 5,open_date,20170102
5648,중년남과 고양이 여인의 동거,Domestic cat,open_date,20170102
5649,여간호사의 쾌감,Sexy nurse 3,open_date,20170102
5650,엑소시즘 2017,Evil Born (12/12/12),open_date,20170102
5651,선배부인과 비밀공유,"The glossy and beautifl widow ""I'm sorry, hone...",open_date,20170102
5652,불륜녀의 황홀한 입맞춤,Affair party,open_date,20170102
5653,대머리 오일마사지사,Lonely aunt Confessions of abstinence Miku Aoki,open_date,20170102

In [110]:
#기존데이터 변형

import pandas as pd
import numpy as np

df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

df_1 = df.copy()
df_1.assign(ln_A = lambda x: np.log(x.A)) #로그값을 할당해서 새로운 행으로 만들기 - 메소드방식

#위와 동일 일반방식
df_2 = df.copy()
df_2['ln_A'] = np.log(df_2['A']) 
df_2

movie = pd.read_csv('D:/pandas/실습자료/실습자료/data/korea_movie_list.csv',encoding='cp949')

movie_ = pd.concat([movie.filter(like='prod'), movie.filter(like='title')], axis=1)
#필터를 통해 prod, title 성분을 가지고 있는 열들을 axis=1을 통해 열로 뽑아와서 concat으로 합치는 것임
movie_
#못땡겨온 열 가져와야겠다
movie_.assign(show_time=movie['show_time'])

,produce_year,produce_state,title,title_Eng,show_time
0,2017,개봉예정,할로우 차일드,The Hollow Child,88.0
1,2016,개봉예정,죽음의 리무진,Glass Coffin,75.0
2,2018,개봉예정,극장판 도라에몽: 진구의 보물섬,NaN,107.0
3,2018,개봉예정,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer,110.0
4,2017,개봉예정,살아남은 아이,Last Child,123.0
5,2018,개봉,인공지능 섹스돌,NaN,79.0
6,2018,개봉,엄마의 유혹,NaN,80.0
7,2018,개봉,섹스-이웃집 여자-감독판,NaN,75.0
8,2017,개봉,부드러운 여주인:단단한 물건을 원해,Okamisan 01,64.0
9,2016,개봉,동창회:그녀와 하던 날,Rape Gurui,54.0
10,2018,개봉,금지된 섹스,NaN,86.0
11,2018,개봉예정,맘마미아!2,MAMMA MIA! HERE WE GO AGAIN,113.0
12,2017,개봉예정,산책하는 침략자,Before We Vanish,130.0
13,2017,개봉예정,호스틸,Hostile,83.0
14,2017,개봉예정,더 스퀘어,The Square,151.0
15,2017,개봉예정,나를 차버린 스파이,The Spy Who Dumped Me,NaN
16,2017,개봉예정,주피터스 문,Jupiter's Moon,128.0
17,2018,개봉예정,휘트니,Whitney,119.0
18,2016,개봉,원초적 비디오 테이프,Amateur,93.0
19,2017,개봉예정,목격자,The Witness,111.0
20,2017,개봉예정,공작,The Spy Gone North,137.0
21,2017,개봉예정,너의 결혼식,On Your Wedding Day,110.0
22,2017,개봉예정,몬스터 헌트2: 요괴사냥단,Monster Hunt 2,110.0
23,2018,개봉예정,몬스터 호텔 3,Hotel Transylvania 3: A Monster Vacation,97.0
24,2017,개봉예정,더 시크릿 하우스,Marrowbone,110.0
25,2017,개봉,훔쳐보는 쉐어 하우스,Girls Share A Flat 4,60.0
26,2017,개봉,해외유학녀의 마사지,Populer beauty massage into a study abroad fru...,63.0
27,2017,개봉,폭주미망인-다빌려드립니다,Widow boarding house? I also lend a valley,61.0
28,2018,개봉,정사 : 친구의 엄마 2 무삭제,NaN,81.0
29,2017,개봉,인형같은 애인클럽,Makeover dolls Fingertips that love limbs,63.0
...,...,...,...,...,...
2797,2015,개봉,20대 같은 40대 미시녀,The reason I remove the wedding ring,62.0
2798,2016,개봉,여형사의 은밀한 수사,Marubou no Onna,72.0
2799,2016,개봉,어쌔신 크리드,Assassin's Creed,115.0
2800,2016,개봉,세상의 모든 엄마와 딸들,Mothers and Daughters,92.0
2801,2001,개봉,반지의 제왕 : 반지원정대 (확장판),The Lord Of The Rings : The Fellowship Of The ...,228.0
2802,2016,개봉,너브,Nerve,96.0
2803,2016,개봉,사랑하기 때문에,BECAUSE I LOVE YOU,110.0
2804,2016,개봉,옆집 여자: 처음엔 거부 나증엔 신음,Namaikinadantituma,51.0
2805,2016,개봉,밀애: 시아버지,Mesunonioi,51.0
2806,2016,개봉,리벤지포르노 페인트 잇 블랙,Revenge Porno PAINT IT BLACK,73.0
2807,2016,개봉,내 아내의 불륜,Soputotuma,52.0
2808,2015,개봉,추천 극상 오일마사지,"Suddenly, I meet with my son. We rut. Satsuki ...",63.0
2809,2015,개봉,일본 온천 여행기,The dairy of lonely woman Beautifully bloom in...,56.0
2810,2015,개봉,엘리미네이터,Eliminators,94.0
2811,2014,개봉,소림사 무림 탐정-취의전장,Murger at the Lending House,91.0
2812,2015,개봉,선녀 강림 - 평화를 위해,Sexy girl party 4,60.0
2813,2016,개봉,패신저스,PASSENGERS,116.0
2814,2016,개봉,야쿠자의 여자: 은밀한 유혹,Japanese mafia Women 7,71.0
2815,2016,개봉,쇼다운 인 마닐라,Showdown in Manila,89.0
2816,2016,개봉,사다코 대 카야코,Sadako vs Kayako,98.0
2817,2013,개봉,비밀객잔의 결투,The Expert of Gangster Inn,91.0
2818,2015,개봉,더 마인즈 아이,The Mind's Eye,87.0
2819,2016,개봉,굶주린 여신: 양기흡수,Eromegami,64.0
2820,2015,개봉,하드코어 미망인,Sexy girl party 5,60.0
2821,2016,개봉,중년남과 고양이 여인의 동거,Domestic cat,62.0
2822,2015,개봉,여간호사의 쾌감,Sexy nurse 3,60.0
2823,2012,개봉,엑소시즘 2017,Evil Born (12/12/12),85.0
2824,2015,개봉,선배부인과 비밀공유,"The glossy and beautifl widow ""I'm sorry, hone...",54.0
2825,2015,개봉,불륜녀의 황홀한 입맞춤,Affair party,60.0
2826,2015,개봉,대머리 오일마사지사,Lonely aunt Confessions of abstinence Miku Aoki,63.0

In [45]:
#8.21 - 데이터통합

#중복되는 key 끼리의 value 병합

import pandas as pd
import numpy as np

#key기준

#1
df1 = pd.DataFrame({'key':list('bbacaab'), 'data1':range(7)})
df2 = pd.DataFrame({'key':list('abd'), 'data2':range(3)})

pd.merge(df1, df2) #아무것도 안나온다 - 왜? 단순히 합치는 게 아니라서..!
pd.merge(df1, df2, on='key') #중복나는 key에 대해서만 가져온다 c,d는 자동으로 빠지지 dafault how='inner'-교집합
pd.merge(df1, df2, on='key', how='outer') #중복안나는 것들도 다 가져온다 Nan으로 인해 플로팅으로 가져온다 -합집함

pd.merge(df1, df2, on='key', how='left') #중복 안나는 것을 왼쪽에서만 가져온다 ->오른쪽만 플로팅 되겠지
pd.merge(df1, df2, on='key', how='right') #중복 안나는 것을 오른쪽에서만 가져온다 ->왼쪽만 플로팅 되겠지
# 예제를 a,b,c,d로 드니까 이해하기 어렵다. a가 각각 뭐 이름, b가 부서, c가 지출 이런식으로 생각하면 된다

#2
df3 = pd.DataFrame({'key':list('abbcaab'), 'data3':range(7)})
df4 = pd.DataFrame({'key':list('ababd'), 'data4':range(5)})

pd.merge(df3, df4, on='key') #아! 위에 a가 3개 밑에 2개 니까 3*2=6개만큼 a키 행이 생기는 거네
#실제로는 이렇게 쓰일일 없지

#3
df5 = pd.DataFrame({'lkey':list('abbcaab'), 'data5':range(7)})
df6 = pd.DataFrame({'rkey':list('ababd'), 'data6':range(5)})

pd.merge(df5, df6, left_on='lkey', right_on='rkey') #키분리


#index기준 - 쓰기 더 깔끔하다

#4
left = pd.DataFrame({'key':list('abaabc'), 'data':range(6)})
right = pd.DataFrame({'group_val':[3.5, 7]}, index=['a', 'b'])

pd.merge(left, right, left_on='key', right_index=True) #왼쪽은 인덱스가 없어 지정해주고, 오른쪽은 인덱스를 그대로 쓰겠다 임
#숫자로된 전체인덱스가 있다

#아니면이렇게
left = left.set_index('key')
pd.merge(left, right, left_index=True, right_index=True)
#키를 인덱스로 쓰겠다

   data  group_val
a     0        3.5
a     2        3.5
a     3        3.5
b     1        7.0
b     4        7.0

In [104]:
#예제

import pandas as pd
import numpy as np

korea_2012 = pd.read_excel('D:/pandas/실습자료/실습자료/data/korea_pop_2012.xls', encoding='cp949')
korea_2012
#unnamed 처리하자 - 엑셀가져오는과정에서오류?인듯
korea_2012.columns = ['', '2008', '2009', '2010', '2011', '2012'] #칼럼명재조정
korea_2012.index = korea_2012[''] #''열을 인덱스로 추가
korea_2012 = korea_2012.drop([''],axis = 1) #원래있던''은 없애기
korea_2012

korea_2017 = pd.read_excel('D:/pandas/실습자료/실습자료/data/korea_pop_2017.xls', index_col=0, encoding='cp949') #훨간단
korea_2017

korea_2017.index == korea_2012.index #인덱스가 똑같다
#인덱스기준병합
korea_pop = pd.merge(korea_2012, korea_2017, left_index=True, right_index=True)
korea_pop

korea_pop.get_dtype_counts() #10개 열의 자료형은 모두 오브젝트임 (콤마, - 때문일것)

#숫자형으로 바꾸기위한 전처리

for i in range(0,18) :
    a = korea_pop.iloc[i].str.replace(',','')
    korea_pop.iloc[i] = a
#돌면서 콤마 없애기 

for i in range(0,18) :
    a = korea_pop.iloc[i].str.replace('-','NaN') #여기서 NaN이 그냥 문자열이다
    korea_pop.iloc[i] = a
# -부분 처리

#아직까지는 Nan이 문자열이기 때문에 정수로 바꿀 수 없다. 누락값으로 만들고 누락값 처리를 한 뒤 정수로 바꾼다

korea_pop = korea_pop.astype('float64') #float으로 바꿔주면서 NaN이 누락값이된다
korea_pop = korea_pop.fillna(0) #누락값 0 으로
korea_pop = korea_pop.astype('int64') #이제 정수로

korea_pop

      2008    2009    2010    2011    2012
계   49,540  49,773  50,515  50,734  50,948
서울  10,201  10,208  10,312  10,250  10,195
부산   3,565   3,543   3,568   3,551   3,538
대구   2,493   2,489   2,512   2,508   2,506
인천   2,693   2,710   2,758   2,801   2,844
광주   1,423   1,433   1,455   1,463   1,469
대전   1,481   1,484   1,504   1,516   1,525
울산   1,112   1,114   1,126   1,136   1,147
세종       -       -       -       -     113
경기  11,292  11,460  11,787  11,937  12,093
강원   1,509   1,512   1,530   1,536   1,539
충북   1,520   1,527   1,549   1,563   1,566
충남   2,019   2,037   2,075   2,101   2,029
전북   1,856   1,854   1,869   1,874   1,873
전남   1,919   1,913   1,918   1,914   1,910
경북   2,674   2,669   2,690   2,699   2,698
경남   3,225   3,250   3,291   3,309   3,319
제주     561     562     571     576     584

In [93]:
#SQL

import numpy as np

df1 = pd.DataFrame({'키': ['봄', '여름', '가을', '겨울'], '값': np.random.randn(4)})
df2 = pd.DataFrame({'키': ['여름', '겨울', '겨울', '기타'], '값': np.random.randn(4)})

#SQL문장에서 사용되는 조인과 데이터프레임에서 사용하는 방식이 같다.

"""
SELECT *
FROM df1
INNER JOIN df2
    ON df1.key = df2.key;
"""
pd.merge(df1, df2, on='키') #default how가 inner


"""
SELECT *
FROM df1
LEFT OUTER JOIN df2
    ON df1.key = df2.key;
"""
pd.merge(df1, df2, on='키', how='left')


"""
SELECT *
FROM df1
FULL OUTER JOIN df2
    ON df1.key = df2.key;
"""
pd.merge(df1, df2, on='키', how='outer')


"""
SELECT city, rank
FROM df1
UNION ALL
SELECT city, rank
FROM df2;
"""
pd.concat([df1, df2])


"""
SELECT city, rank
FROM df1
UNION
SELECT city, rank
FROM df2;
"""
df2.loc[1] = df1.loc[3]
pd.concat([df1, df2]).drop_duplicates()

    키         값
0   봄  0.171517
1  여름 -1.070463
2  가을 -1.564701
3  겨울  1.806110
0  여름 -2.044110
2  겨울 -0.201447
3  기타  2.096000

In [149]:
#예제, SQL조건문

import pandas as pd
import numpy as np

korea_2018 = pd.read_excel('D:/pandas/실습자료/실습자료/data/factory_reg_2018.xlsx',sheet_name=2, header=[2,3], index_col=0, encoding='cp949')
korea_2018

korea_2018 = korea_2018.dropna()
korea_2018

korea_2018.get_dtype_counts() #초기 Nan행으로 인해 합계열 빼고는 float type
korea_2018 = korea_2018.astype('int64')
korea_2018.get_dtype_counts()

korea_2018.columns.levels[0]
korea_2018.columns.levels[1]

korea_2018.columns = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주','합계']
korea_2018.columns

#열 레이블에 특정 이름이 포함되어 있는지를 확인
korea_2018.columns.isin(['서울','제주']) 

#True인 열 둘만 뽑아다가 복사 -> 왜 이렇게? 실제 빅데이터상으로 문서를 체크해서 이것들을 일일이 확인할 수 없으니까?
korea_2018_서울_제주 = korea_2018.iloc[:,korea_2018.columns.isin(['서울','제주'])]
korea_2018_서울_제주

korea_2018_서울_제주.서울.between(10, 20).sum() #서울중에서 10과 20사이의 숫자가 몇개
korea_2018_서울_제주.loc[korea_2018_서울_제주.서울.between(10, 20),'서울'] #고놈을 출력해보자

#쿼리문으로 해볼까?
korea_2018.query('서울 >=10 & 서울 <= 20').서울
korea_2018.query('서울 >=10 & 서울 <= 20')['서울'] #동일
korea_2018.query('서울 >=10 & 서울 <= 20')[['서울']] #팬시!

mm = 10
nn = 20
qs1 = "@mm <= 서울 <= @nn "
korea_2018.query(qs1)[['서울']]
# 보통요렇게 많이한다구

#다른 메소드 - where
korea_2018.where(korea_2018['서울'] < 30) #서울 열에서 30보다 작은곳찾고, 30보다 크면 해당 행을 싹다 NaN으로 처리한다 그래서 float
korea_2018.where(korea_2018['서울'] < 30, 0) #동일 - 해당 행을 싹다 0으로 처리하기 때문에 int

#다른 메소드 - mask
korea_2018.mask(korea_2018['서울'] < 30) #where과 반대. 30보다 작은 곳을 Nan처리
korea_2018.mask(korea_2018['서울'] < 30, 0.0) #동일 - 0처리

korea_2018.take([0],axis=0) #첫행만 가져오자
korea_2018.take([0,3,5],axis=1).head() #0,3,5 열만가져오자

#SQL로?
"""
SELECT 서울, 인천, 대전
FROM korea_2018
LIMIT 5;
"""
korea_2018[['서울', '인천', '대전']].head()


"""
SELECT * 
FROM korea_2018
WHERE 서울 = 41;
"""
korea_2018[korea_2018['서울'] == 41 ] #서울이 41인 행출력


"""
SELECT * 
FROM korea_2018 
WHERE 서울 < 41 & 제주 > 5 ;
"""
korea_2018[(korea_2018['서울'] < 41) &  (korea_2018['제주'] > 0)]
#or
is_41 = korea_2018['서울'] == 41
is_41
is_41.value_counts()
korea_2018[is_41] #조금상세한방식

,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
"14 의복, 의복 액세서리 및 모피제품 제조업",41,3,0,3,2,0,0,0,17,0,0,0,5,1,0,0,0,72

In [235]:
# 그룹화처리

import pandas as pd
import numpy as np

book_data = pd.read_csv("D:/pandas/실습자료/실습자료/data/book_data.csv",encoding='cp949')
book_data

#전처리과정
book_data.count()

book_data.book_date.max() #이상한놈등장
book_data.book_date.replace('초판출간 2008년', '2018-01-01',inplace=True) #처리
book_data.book_date.max()

book_data.book_cover.value_counts()
book_data.book_cover.fillna("반양장본",inplace=True)
book_data.book_cover.value_counts()

book_data.book_size.value_counts()
book_data.book_size.fillna('128*188mm',inplace=True)
book_data.book_size.value_counts()

book_data.count() #perfect!

book_data.book_publisher.value_counts() #출판사빈도
book_data.book_publisher.value_counts().shape #출판사 다양성 880개 너무많아
book_data.book_price.value_counts() #가격빈도
book_data.book_price.value_counts().shape #가격다양성 - 171가지 굿

#본론!! (1)
book_data_gr = book_data.groupby('book_price') #가격을 기준으로 그룹을짓자
type(book_data_gr) #DataFrameGroupBy클래스!!

book_data_gr.ngroups #총 몇그룹? 171
book_data_gr.groups #그룹 모아보기
type(book_data_gr.groups) #각 그룹의 타입
book_data_gr.groups.keys() #그룹으로 묶인 실제 정보 중 내부에 있는 키값(가격 정보)만 불러오기

book_data_gr.groups['10,080'] #그중 10080인놈은 무슨행인가
book_data_gr.groups['10,080'].size #몇개인가
book_data_gr.get_group('10,080') #DF로 보기

#판매량을 정수로 바꿔보자
book_data.sales_point.dtype #현재 문자열

#그전에! 문자열을 제거할 때 정수형 자료형을 가진 열을 반환하면 문제가 있다 그래서 다른 변수에 저장한 후에 나중에 가져올 것이다
book_data.book_weight.dtype #int
book_weight = book_data.book_weight #복사

# 단, 원래라면 book_data.book_page 도 정수여야하지만
# book_data.book_weight.dtype 해보면 object
# book_data.book_page.max() 로 이상한놈을 찾고 그놈을 없애주고 나서해야함

# 콤마없애기 - 타입바꾸기전처리 
for i in range(0,2000) :
    a = book_data.iloc[i].str.replace(',','') 
    book_data.iloc[i] = a
#여기서 book_weight 값들이 사라짐 왜냐하면 각 행마다 replace처리를 해서 반환했는데
#현재 나머지 열들은 모두 object니까 object기준으로 반환을 한다
#object기준에서 int형은 아무것도 아니고 그래서 대신 Nan을 쭉 반환하는 것
    
book_data.sales_point = book_data.sales_point.astype('float64') #공백을 Nan으로
book_data.book_weight.dtype
#Nan을 0으로 바꾼뒤 정수로 바꾸기도 했었지?
book_data

#이제 다시 weight 가져오자
book_data.book_weight = book_weight
book_data

#(2-1) 북커버, 북데이트 기준으로 그룹화해볼까
book_data.groupby('book_cover').agg({'book_name':'count', 'sales_point':'mean', 'book_weight':'mean'})
book_new = book_data.groupby('book_date').agg({'book_name':'count', 'sales_point':'mean', 'book_weight':'mean'})
book_new = book_new.sort_index() #안해도정렬됨
book_new

book_new.columns = ['book_count','sales_point', 'book_weight']

book_new.nlargest(5,columns='book_count')
book_new.nsmallest(5,columns='book_count') #북카운트열 기준 최솟값 다섯개 위에서부터(디폴트)

#여러개의 열을 동시에 그룹화
group_cols = ['book_date','book_cover'] #멀티인덱스
agg_cols=['sales_point','book_weight'] #상위열
cols=['sum','mean','size'] #하위열
fg = book_data.groupby(group_cols)[agg_cols].agg(cols)
fg

level1 = fg.columns.get_level_values(0)
level1
level2 = fg.columns.get_level_values(1)
level2
fg.columns = level1 + '_' + level2 #두개의 층 모두 문자열이므로 이방식을 통해 단일인덱스로 변경- 칼럼 속성을 대체!
fg

#(2-2) 내부에 수학 함수를 넣거나 사용자 함수를 넣어서 계산할때는 transform메소드를 사용해서 그룹화 가능 - 주로 단순결과를 위해서
fg_ = book_data.groupby(group_cols)[agg_cols].transform('sum')
fg_

#transform은 사용자 정의함수 지정해서넣을수있다 (apply방식과의 차이를 보자)
book_data.groupby(group_cols).apply(lambda x: x['sales_point']* 100)
book_data.groupby(group_cols)['sales_point'].transform(lambda x: x * 100) #시리즈
book_data.groupby(group_cols)[['sales_point']].transform(lambda x: x * 100) #데이터프레임 -팬시검색
book_data.groupby(group_cols)['sales_point', 'book_weight'].transform(lambda x: x * 100) #여러 열 선택

#그룹화 한 파일 새로저장
fg.to_csv("D:/pandas/실습자료/실습자료/data/book_data_group.csv", encoding='cp949')
print("done")

done

In [239]:
#SQL그룹화

import pandas as pd
import numpy as np

book_data = pd.read_csv("D:/pandas/실습자료/실습자료/data/book_data.csv",encoding='cp949')


#한 테이블에서 특정 열을 기준으로 그룹화해 내부의 개수 확인
"""
SELECT book_date, COUNT(*)
FROM book_data
GROUP BY book_date;
"""
book_data.groupby('book_date').size()
book_data.groupby('book_date').count()
book_data.groupby('book_date')['sales_point'].count()


#특정그룹으로 묶고 평균과 개수를 처리
"""
SELECT book_date, AVG('sales_point'), COUNT(*)
FROM book_data
GROUP BY book_date;
"""
book_data.groupby('book_date').agg({'sales_point': np.mean, 'book_date': np.size})


#두개의 열을 그룹화해서 두개의 열과 함수를 실행
"""
SELECT book_date,book_cover, COUNT(*), AVG(sales_point)
FROM book_data
GROUP BY book_date,book_cover;
"""
book_data.groupby(['book_date','book_cover']).agg({'sales_point': [np.size, np.mean]})

#np.mean이 안된다 버전뭔가 문제가있나봄

DataError: No numeric types to aggregate